body {
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
}

.tab-button.active {
    background-color: #ddd;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#display {
    text-align: center;
}

.blade {
    width: 100px; /* Ajuste o tamanho da hélice */
    height: 100px; /* Ajuste o tamanho da hélice */
    background-color: gray; /* Cor inicial da hélice */
    border-radius: 50%; /* Para dar uma forma circular */
    margin: 20px auto;
}

#beaufort-scale {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr.highlight {
    background-color: lightyellow; /* Cor da linha destacada */
}

#helix-container {
    text-align: center;
}

#wind-options button {
    margin: 5px;
    padding: 10px 15px;
}

@media (max-width: 600px) {
    #container {
        flex-direction: column;
        align-items: flex-start; /* Para melhor ajuste em telas pequenas */
    }

    #beaufort-scale {
        margin-top: 10px;
    }

    table {
        font-size: 14px; /* Tamanho da fonte reduzido para telas menores */
    }
}

/* .tab-button.inactive {
    background-color: #ccc; 
    cursor: not-allowed;
} */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

@media (max-width: 600px) {
    th, td {
        display: block;
        text-align: right;
    }

    th {
        position: absolute;
        left: -9999px;
    }

    td {
        text-align: left;
        padding-left: 50%;
        position: relative;
    }
}
